<div class="modal-header dialog-header-wait">
    <button type="button" class="close" ng-click="close()">×</button>
    <h4 class="modal-title ng-binding">
        <span class="glyphicon glyphicon-check"></span> {{ data.Name }} Domains
    </h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light">
                <div class="portlet-body flip-scroll">
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="btn-group">
                                    <a href="" class="btn green" ng-click="addNewVisible = true">
                                        Create New Domain <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="btn-group pull-right">
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-bordered table-hover flip-content">
                        <thead class="flip-content">
                            <tr>
                                <th width="60%" class="sortable-column" ng-click="sortOrderSetPage('Name')">
                                    Domain <i class="fa pull-right" ng-class="table.Name"></i>
                                </th>
                                <th width="10%">
                                    Status
                                </th>
                                <th width="10%">
                                    Primary
                                </th>
                                <th width="20%">
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX" ng-repeat="item in model">
                                <td>
                                    {{ item.Name }}
                                </td>
                                <td>
                                    <span class="label label-sm ng-class:item.Status.Css">
                                        {{ item.Status.Text }}
                                    </span>
                                </td>
                                <td>
                                    <span class="label label-sm ng-class:item.Primary.Css">
                                        {{ item.Primary.Text }}
                                    </span>
                                </td>
                                <td>
                                    <a class="label label-primary label-sm" href="" title="{{ item.Name }}"><i class="fa fa-pencil"></i> Edit</a>
                                    <a class="label label-info label-sm" href="" ng-click="manageDomains(item.Website)" title="{{ item.Name }}"><i class="fa fa-thumbs-o-up"></i> Set to Primary</a>
                                </td>
                            </tr>
                            <tr class="odd gradeX" ng-show="addNewVisible">
                                <td colspan="4" class="nested-column">
                                    <form id="addNewForm" name="addNewForm" role="form" novalidate>
                                        <table class="table table-striped table-bordered table-hover flip-content nested-table form-body">
                                            <tbody>
                                                <tr>
                                                    <td width="60%" class="form-group">
                                                        <input type="text" class="form-control" name="Name" ng-model="addModel.Name" required />
                                                        <span class="help-block" ng-show="addModel.submitted && addNewForm.Name.$error.required">
                                                            Please enter a domain name
                                                        </span>
                                                    </td>
                                                    <td width="10%" class="form-group">
                                                        <div class="checkbox-list">
                                                            <label>
                                                                <input type="checkbox" name="IsActive" ng-model="addModel.IsActive" /> Active
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td width="10%"></td>
                                                    <td width="20%" class="form-group">
                                                        <input type="submit" class="btn green" ng-click="addNew(addModel, addNewForm.$valid)" value="Save" />
                                                        <button class="btn danger" ng-click="addNewVisible = false">Cancel</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </form>
                                </td>

                            </tr>

                        </tbody>

                    </table>
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="close()">Close</button>
</div>
